<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/header.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div class="page-container">

    <header class="header-container">
      <h1>Hungry Hero</h1>
      <p>header header header</p>
    </header>

    <main class="main-container">
      <div class="menu-container">

        <section class="menu-group">
          <h4 class="menu-group-title">DAILY SPECIALS</h4>

          <ul class="menu-items">
            <li class="menu-item">
              <div class="menu-image">
                <img
                  src="https://www.cactusclubcafe.com/wp-content/uploads/2019/05/051419_TunaPokeBowl_Header_1160px_500px_FINAL2.jpg"
                  alt="">
              </div>
              <div class="menu-item-text">
                <h2 class="menu-item-title">Wrap, Soup & Bottled Water</h2>
                <p class="menu-item-description">Your choice of wrap served with the soup of the day & bottled water.
                </p>
              </div>
              <span class="menu-item-price">$9.95</span>
            </li><!-- /.menu-item -->
            <li class="menu-item">
              <div class="menu-image">
                <img
                  src="https://www.cactusclubcafe.com/wp-content/uploads/2019/05/051419_TunaPokeBowl_Header_1160px_500px_FINAL2.jpg"
                  alt="">
              </div>
              <div class="menu-item-text">
                <h2 class="menu-item-title">Wrap, Single Salad & Bottled Water</h2>
                <p class="menu-item-description">Your choice of wrap & salad.</p>
              </div>
              <span class="menu-item-price ">$9.95</span>
            </li><!-- /.menu-item -->

          </ul><!-- /.menu-items -->
        </section><!-- /.menu-group -->

      </div> <!-- /.menu-container -->

      <div class="cart-container">
          <div class="cart-header">
            <span class="" style="font-size: 16px;font-weight: 500;color: white">HUNGRY
              HERO
              SUCCULENT CLUB</span><br>
            <span class="" style="font-size: 12px;color: white">401 W Georgia
              Street</span>
          </div>
          <div class="cart-body">
            <ul class="cart-items">
              <li class="cart-item">
                <div class="cart-item-quantity">1</div>
                <h2 class="cart-item-title">Wrap, Soup & Bottled Water</h2>
                <div class="cart-item-price">$9.95</div>
              </li><!-- /.cart-item -->
              <li class="cart-item">
                <div class="cart-item-quantity">1</div>
                <h2 class="cart-item-title">Wrap, Soup & Bottled Water</h2>
                <div class="cart-item-price">$9.95</div>
              </li><!-- /.cart-item -->

            </ul><!-- /.cart-items -->
          </div><!-- /.cart-body -->
        </div><!-- /.cart-container -->

    </main>

  </div> <!-- /page-container -->
</body>

</html>
