<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <link rel="stylesheet" href="/css/header.css" type="text/css" />
  <link rel="stylesheet" href="/css/menu.css" type="text/css" />
  <link rel="stylesheet" href="/css/cart.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  <script type="text/javascript" src="/scripts/menu.js"></script>

</head>

<body>
  <div class="page-container">

    <header class="header-container">
      <h1>Hungry Hero</h1>
      <p>header header header</p>
    </header>

    <main class="main-container">
      <div class="menu-container">

        <section class="menu-group">
          <h4 class="menu-group-title">FOR THE TABLE</h4>

          <ul class="menu-items" id='for-the-table-container'>
          </ul><!-- /.menu-items -->
        </section><!-- /.menu-group -->

        <section class="menu-group">
            <h4 class="menu-group-title">GREENS</h4>

            <ul class="menu-items" id='greens-container'>
            </ul><!-- /.menu-items -->
          </section><!-- /.menu-group -->

        <section class="menu-group">
          <h4 class="menu-group-title">BOWLS</h4>

          <ul class="menu-items" id='bowls-container'>
          </ul><!-- /.menu-items -->
        </section><!-- /.menu-group -->

        <section class="menu-group">
          <h4 class="menu-group-title">CASUAL</h4>

          <ul class="menu-items" id='casual-container'>
          </ul><!-- /.menu-items -->
        </section><!-- /.menu-group -->

        <section class="menu-group">
          <h4 class="menu-group-title">SEAFOOD</h4>

          <ul class="menu-items" id='seafood-container'>
          </ul><!-- /.menu-items -->
        </section><!-- /.menu-group -->

        <section class="menu-group">
          <h4 class="menu-group-title">PASTA</h4>

          <ul class="menu-items" id='pasta-container'>
          </ul><!-- /.menu-items -->
        </section><!-- /.menu-group -->

        <section class="menu-group">
          <h4 class="menu-group-title">CHICKEN</h4>

          <ul class="menu-items" id='chicken-container'>
          </ul><!-- /.menu-items -->
        </section><!-- /.menu-group -->

        <section class="menu-group">
          <h4 class="menu-group-title">BURGERS + SANDWICHES</h4>

          <ul class="menu-items" id='burgers-sandwiches-container'>
          </ul><!-- /.menu-items -->
        </section><!-- /.menu-group -->

      <section class="menu-group">
        <h4 class="menu-group-title">DESSERTS</h4>

        <ul class="menu-items" id='desserts-container'>
        </ul><!-- /.menu-items -->
      </section><!-- /.menu-group -->
    </div> <!-- /.menu-container -->

      <div class="cart-container">
        <div class="cart-header">
          <span class="" style="font-size: 16px;font-weight: 500;color: white">HUNGRY
            HERO
            SUCCULENT CLUB</span><br>
          <span class="" style="font-size: 12px;color: white">401 W Georgia
            Street</span>
        </div>
        <div class="cart-body">
          <ul class="cart-items">
            <li class="cart-item">
              <div class="cart-item-quantity">1</div>
              <h2 class="cart-item-title">Wrap, Soup & Bottled Water</h2>
              <div class="cart-item-price">$9.95</div>
            </li><!-- /.cart-item -->
            <li class="cart-item">
              <div class="cart-item-quantity">1</div>
              <h2 class="cart-item-title">Wrap, Soup & Bottled Water</h2>
              <div class="cart-item-price">$9.95</div>
            </li><!-- /.cart-item -->

          </ul><!-- /.cart-items -->
        </div><!-- /.cart-body -->
      </div><!-- /.cart-container -->

    </main>

  </div> <!-- /page-container -->
</body>

</html>
