.cart-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 40px;
  bottom: 35px;
  max-height: 80vh;
  width: 500px;
  margin: 10px;
  overflow: hidden;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 8px 0px rgba(34,34,34,0.55);
  z-index: 1000;
}

.cart-header {
  min-height: 60px;
  padding: 15px;
  background: #00bcd4;
}

.fa-white {
  color: white;
  filter: drop-shadow(2px 2px 2px rgb(113, 113, 113));
}

.fa-white:hover {
  filter: drop-shadow(4px 4px 4px rgba(34,34,34,0.55));
}

.cart-body {
  display: flex;
  flex-direction: column;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  flex-direction: row;
  padding: 12px 20px 12px 20px;
}

.cart-update {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  color: rgba(7,150,193,1);
}

.cart-controls:hover {
  filter: drop-shadow(2px 2px 2px rgba(7,150,193,1));
}

.cart-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%
}


.cart-item-quantity {
  font-size: 17px;
  font-weight: bold;
  color: rgba(7,150,193,1);
}

.cart-item-title {
  margin: 0;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 20px;
  padding: 0px 20px 0px 20px;
}

.cart-item-price {
  font-size: 17px;
}

.cart-delete:hover {
  filter: drop-shadow(2px 2px 2px rgba(7,150,193,1));
}

.cart-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding: 12px 20px 12px 20px;
  font-weight: bold;
  font-size: 17px;
  color: rgba(38,42,52,1);
}

.cart-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0 0 8px 0px rgba(34,34,34,0.55);
  height: 100px;
  width: 100%;
  padding: 10px;
  z-index: 1;
}

/* total and payment button are hidden until user adds something to cart */
.hide-cart {
  display: none;
}

.comment-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 40px;
  bottom: 35px;
  max-height: 80vh;
  width: 425px;
  margin: 10px;
  overflow: hidden;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 8px 0px rgba(34,34,34,0.55);
  z-index: 1000;
  display: none;
}

#comment-header {
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#comment-header button {
  padding-bottom: 15px;
  padding-right: 10px;
}

.comment-container textarea {
  margin: 0px 10px 10px 10px;
  width: 405px;
}
