.menu-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: 50px;
}

.menu-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.menu-group-title {
  margin: 12px 0;
  font-size: 29px;
  color: #525252;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.menu-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
  z-index: 5;
  height: 85px;
  overflow: hidden;
}

.menu-item {
  display: flex;
  flex-direction: column;
}

.menu-image {
  max-width: 20%;
}

.menu-item-text {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.menu-item-text:hover {
  color: rgba(7,150,193,1);
}

.menu-item-title {
  margin: 0 0 2px;
  font-size: 1.3rem;
  font-weight: 300;
}

.menu-item-description {
  margin: 4px 0;
  white-space: pre-wrap;
}

.menu-item-price {
  padding-right: 7px;
  font-size: 17px;
  font-weight: bold;
}
