


.sides-container {
  display: none;
  flex-direction: column;
  position: relative;
  width: 100%;
  right: 40px;
  max-height: 50vh;
  margin: 0px 40px;
  overflow: hidden;
  z-index: 1;
}


.sides-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.sides-header {
  width: 100%;
  min-height: 40px;
  padding: 15px;
  background: #00bcd4;
  z-index: 2;
  color: white;
}

.sides-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}


.form-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  font-size: 1.1rem;
}

div.form-order {
  display: flex;
  flex-direction: row;
}



.form-row {
  display:flex;
  flex-direction: column;
}

.form-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 12px 12px 30px;
  border-top: 1px solid lightgray;
}

.list-checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}

.sides-title {
  padding: 0px 7px;
}
.sides-price {
  font-size: 14px;
  font-weight: 200px;
}

input[type="checkbox"] {
  border: 1px solid blue;
  height: 40px;
  width: 25px;
  cursor: pointer;
}

.sides-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  height: 60px;
  width: 100%;
  padding: 10px;
  z-index: 2;
  box-shadow: 0 0 8px 0px rgba(34,34,34,0.55);
}

.menu-item-button-cancel {
  background-color: darkgray;
}

.checkbox {
  display: flex;
}
