.sides-container {
  display: none;
  flex-direction: column;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  z-index: 1;
}


.sides-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.sides-header {
  width: 100%;
  height: 80px;
  padding: 15px;
  background-color: #00bcd4;
  z-index: 2;
  color: white;

}

.sides-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px 70px 10px 70px;
}

.form-label {
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif;
}

div.form-order {
  display: flex;
  flex-direction: row;
}



.form-row {
  display:flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 30px;
}

.form-controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid lightgray;
  padding: 10px;
}

.list-checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-size: 1rem;
  margin-bottom: 0px;
}

.sides-title {
  padding: 0px 7px;

}
.sides-price {
  font-size: 1rem;
  font-weight: 200px;
}

input[type="checkbox"] {
  border: 1px solid blue;
  height: 40px;
  width: 25px;
  cursor: pointer;
}

.sides-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  height: 100px;
  width: 100%;
  padding: 10px 70px 10px 70px;
  z-index: 2;
  box-shadow: 0 0 3px 0px rgba(34,34,34,0.55);
}

.form-actions {
  width: 100%;
}


.checkbox {
  display: flex;
  display: flex;
  flex-direction: row;
}

.list-sides {
  width: 100%;
}

.menu-item-button-cancel {
  margin-top: 5px;
}
